:root {
  --cor01: #0077ed;
  --cor02: #f5f5f7;
  --cor03: #333333;
  --cor04: #0066cc;

  --linkcolor: #06c;

  --fonte-titulos: "Inter", sans-serif;

  --modo: 3;
}

* {
  margin: 0;
  padding: 0;
  color: var(--cor03);
  background-color: var(--cor02);
  font-family: var(--fonte-titulos);
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: black;
}

a {
  text-decoration: none;
  color: var(--cor03);
}

ul {
  list-style-type: none;
}

header nav,
header ul,
header li,
header a,
header img {
  background-color: var(--cor02);
}

header > nav > div {
  width: 100%;
  background-color: var(--cor02);
  position: fixed;
  z-index: 3;
}

header ul {
  max-width: 1000px;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul > div {
  display: flex;
  z-index: 2;
}

header a {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 0.8rem;
}

#headder-itens{
  display: flex;
}

.nav-icon {
  /* height: 50px; */
  padding: 0 15px;
}

#nav_logo {
  width: 20px;
}

.viasualmente-escondido {
  display: none;
}

#burguer {
  display: none;
  width: 20px;
  height: 20px;
  margin: auto 0;
  padding: 0 15px;
}

#burguer img {
  display: block;
  width: 20px;
}

@media (max-width: 930px) {
  #burguer {
    display: block;
  }

  #headder-itens {
    display: none;
    flex-direction: column;
    width: 300px;
    height: 100%;
    margin: 50px -140px 0 auto;
    z-index: 2;
  }

  header ul {
    max-width: 100%;
    justify-content: space-between;
  }
}
