:root {
  --cor01: #0077ed;
  --cor02: #f5f5f7;
  --cor03: #333333;
  --cor04: #0066cc;

  --fonte-titulos: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: var(--cor03);
  background-color: var(--cor02);
  font-family: var(--fonte-titulos);
}

h1,
h2,
h3,
h4 {
  color: black;
}

a {
  text-decoration: none;
  color: var(--cor03);
}

ul {
  list-style-type: none;
}

.white-btn {
  font-size: 1.1rem;
  padding: 12px 25px;
  border-radius: 30px;
  background-color: transparent;
  color: var(--cor04);
  text-align: center;
  border: 1px solid var(--cor04);
}

.white-btn:hover {
  color: white;
  background-color: var(--cor01);
  cursor: pointer;
}

.color-btn {
  font-size: 1.1rem;
  padding: 12px 25px;
  border-radius: 30px;
  background-color: var(--cor01);
  color: white;
  text-align: center;
  border: 1px solid var(--cor04);
}

.color-btn:hover {
  color: var(--cor04);
  background-color: transparent;
  cursor: pointer;
}

header nav,
header ul,
header li,
header a,
header img {
  background-color: white;
}

header ul {
  max-width: 1100px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

header a {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 0.8rem;
}

header img {
  width: 15px;
}
