h1 {
  display: none;
}

.produtos-first-section {
  height: 575px;
  background-position: center;
  background-repeat: no-repeat;
}

.white-btn {
  font-size: 1.1rem;
  padding: 12px 25px;
  border-radius: 30px;
  background-color: transparent;
  color: var(--cor04);
  text-align: center;
  border: 1px solid var(--cor04);
}

.white-btn:hover {
  color: white;
  background-color: var(--cor01);
  cursor: pointer;
}

.color-btn {
  font-size: 1.1rem;
  padding: 12px 25px;
  border-radius: 30px;
  background-color: var(--cor01);
  color: white;
  text-align: center;
  border: 1.5px solid var(--cor04);
}

.color-btn:hover {
  color: var(--cor04);
  background-color: transparent;
  cursor: pointer;
}


/* ! PRIMEIRA DIV */

#produtos-educação {
  height: 625px;
  background-image: url(../../img/back_ground_acessorios.jpg);
}

#produtos-educação div {
  height: 525px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 50px;
}

.produtos-educação-texto {
  font-size: 2rem;
  width: 200px;
  background-color: var(--cor01);
  border-radius: 30px;
  padding: 15px 35px;
  color: white;
  position: relative;
}

#produtos-educação h2::after {
  content: url(../../img/MacBook_inicio.png);
  position: absolute;
  top: -25px;
  right: -100px;
}

#produtos-educação h2::before {
  content: url(../../img/iPad_inicio.png);
  position: absolute;
  top: 65px;
  right: -50px;
}

#produtos-educação-desconto {
  font-size: 1rem;
  width: 240px;
  padding: 10px 15px;
  font-weight: bold;
}

#produtos-educação-acessorios,
#produtos-educação-acessorios a {
  font-weight: bold;
  font-size: 2rem;
  background-color: var(--cor01);
  color: white;
}

#produtos-educação-acessorios:before {
  content: url(../../img/formando_inicio.png);
  position: absolute;
  left: -30px;
  top: -20px;
}

/* -------------------------------------------------- */
/* ! SEGUNDA DIV */
/* -------------------------------------------------- */

#produtos-appleMusic {
  background-image: url(../../img/back_ground_carnavalesco.png);
}

#produtos-appleMusic h2,
#produtos-appleMusic div,
#produtos-appleMusic img,
#produtos-appleMusic p {
  background-color: transparent;
}

#produtos-appleMusic > div {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin: auto;
}

#produtos-appleMusic > div > div {
  display: flex;
  margin-top: 360px;
}

#produtos-appleMusic h2 {
  font-size: 3.2rem;
  font-weight: 500;
}

#produtos-appleMusic img {
  width: 40px;
  margin-top: -7px;
}

#produtos-appleMusic p {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 10px;
}

/* ---------------------------------- */
/*! TERCEIRA DIV */
/* ---------------------------------- */

#produtos-iPhone {
  background-image: url(../../img/back_ground_iPhones.jpg);
  display: flex;
}

#produtos-iPhone h2,
#produtos-iPhone p, 
#produtos-iPhone div {
  background-color: transparent;
  text-align: center;
}

#produtos-iPhone div {
  margin: 60px auto 0 auto;
  height: 170px;
}

#produtos-iPhone h2 {
  font-size: 3.5rem;
  font-weight: 600;
}

#produtos-iPhone p {
  margin-bottom: 30px;
}