:root {
  --cor01: #0077ed;
  --cor02: #f5f5f7;
  --cor03: #333333;
  --cor04: #0066cc;

  --fonte-titulos: "Inter", sans-serif;
}

.second-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  background-color: white;
}

.second-section p,
.second-section img,
.second-section h2,
.second-section span,
.second-section div {
  background: transparent;
}

.produtos-second-section {
  height: 550px;
  background-repeat: no-repeat;
}

.produtos-second-section-container {
  text-align: center;
  width: 400px;
  margin: auto;
}

.produtos-second-section-container div {
  margin-top: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.produtos-second-section-container p {
  margin-bottom: 30px;
}

.white-2-btn {
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 30px;
  background-color: transparent;
  color: var(--cor04);
  text-align: center;
  border: 1px solid var(--cor04);
}

.white-2-btn:hover {
  color: white;
  background-color: var(--cor01);
  cursor: pointer;
}

.color-2-btn {
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 30px;
  background-color: var(--cor01);
  color: white;
  text-align: center;
  border: 1.5px solid var(--cor04);
}

.color-2-btn:hover {
  color: var(--cor04);
  background-color: transparent;
  cursor: pointer;
}

.black-2-btn {
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 30px;
  background-color: white;
  color: black;
  text-align: center;
  border: 2px solid white;
}

.black-2-btn:hover {
  color: white;
  background-color: transparent;
  cursor: pointer;
}

/* ----------------------------------------
! SMART WATCH
---------------------------------------- */

#produtos-watch {
  background-position: center;
  background-image: url(../../img/back_ground_watch.png);
}

#produtos-watch h2,
#produtos-watch p {
  color: white;
}

#produtos-watch img {
  height: 38px;
}

#produtos-watch h2 {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 600;
}

#produtos-watch-primeiro-p {
  margin-bottom: 0px;
}

/* ----------------------------------------
! APP STORE
---------------------------------------- */

#produtos-app-store {
  background-image: url(../../img/back_ground_app_store.png);
  background-position: center;
}

#produtos-app-store h2 {
  margin-bottom: 10px;
  font-size: 2.2rem;
}

#produtos-app-store div {
  margin-top: 350px;
  width: 200px;
}

/* ----------------------------------------
! WATCH SERIES 11
---------------------------------------- */

#produtos-watch-11 {
  background-image: url(../../img/back_ground_watch_series11.png);
  background-position: center;
}

#produtos-watch-11 h2 {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 400;
}

#produtos-watch-11 span {
  font-weight: 600;
  color: black;
}

#produtos-watch-11 img {
  height: 38px;
}

/* ----------------------------------------
! AIRPODS
---------------------------------------- */

#produtos-airpods {
  background-image: url(../../img/back_ground_airpods.jpg);
  background-position: center;
}

#produtos-airpods div {
  width: 300px;
}

#produtos-airpods h2 {
  margin-top: 40px;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* ----------------------------------------
! MACBOOK
---------------------------------------- */

#produtos-macbook {
  background-image: url(../../img/back_ground_macbook.jpg);
  background-position: center;
}

#produtos-macbook h2 {
  margin-top: 40px;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

#produtos-macbook p {
  color: white;
}

/* ----------------------------------------
! IPAD
---------------------------------------- */

#produtos-ipad{
  background-image: url(../../img/back_ground_ipad.jpg);
  background-position: center;
}

#produtos-ipad div {
  width: 220px;
}

#produtos-ipad h2 {
    margin-top: 40px;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

#produtos-ipad p {
  color: white;
}
